{
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-css-order",
    "prettier-plugin-organize-attributes",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^[a-zA-Z0-9]$", "^@[a-zA-Z0-9](.*)", "^@/(.*)$", "^[./]"]
}
